.user_list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1;
    
    justify-content: space-between;
    align-items: center;
}

.user_list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #5101d1;
}

.user_list-item h2 {
    margin: 0;
    font-size: 1rem;
    color: #7c7c7c
}

.user_list-item p {
    margin: 0;

}

.d-flex em {
    margin: 0px 4px;
    padding: 0;
}

.d-flex a {
    color: blue;
    cursor: pointer;
    font-size: 23px;
}

.danger {
    background: red
}